
//COLORS
$color-gray: #282828;
$color-blue: #3d5a80;
$color-blue-pale: #98c1d9;
$color-blue-light: #e0fbfc;
$color-accent: #ee6c4dff;
$color-dark: #293241;
$color-white: #fafafa;

//TYPOGRAPHY

$font-size-sm: 1rem;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;